<!DOCTYPE html>
<html>
<head>
  <title>My Library</title>
</head>
<body>
  <h1>Books In Your Library</h1>
  <ul>

  <% for (let i = 0; i < book.length; i++) { %>
    <li> 

    <a href="/book/<%=i%>"><%=book[i].title; %></a>, written by <%=book[i].author;%>. <br> <%if(book[i].currentlyReading === true){%>
    You are currently reading this book.
    <%} else {%>
    <%} %>
    <%if(book[i].read === true){%>
    You have previously read this book.
    <%} else {%>
    You have not yet read this book.
    <%} %>

    <form method="POST" action="/book/<% book[i].id%>?_method=DELETE">
      <button type="submit" name="DELETE">DELETE</button> 
    </form>
   
    <a href="/book/<%=book[i].id%>/edit">EDIT</a>
    
<%} %>

    </li>
  </ul>
<nav>
  <a href="/book/new">Add a new book</a>
</nav>
</body>
</html>