<!DOCTYPE html>
<html>
<head>
  <title>NEW BOOK</title>
</head>
<body>
  <h1>Add A New Book To Your Collecion</h1>

  <form action='/book' method='POST'>
    Title: <input type="text" name="title"><br>
    Author: <input type="text" name="author"><br>
    Publish Date: <input type="text" name="publishDate"><br>
    ISBN:<input type="text" name="ISBN"><br>
    Currently Reading: <input type="checkbox" name="currentlyReading"><br>
    Read:<input type="checkbox" name="Read"><br>
    <input type="submit">

  </form>

</body>
</html>