<%- include('../partials/header'); -%>

<form action='/googlebooks/search/' method='POST'>
    <input type="text" name="query"><br>

    <button id="search">Search</button>
</form>

<script src="scripts/googlebooks.js"></script>

<%- include('../partials/footer'); -%>