<div class="footer">


  <small>
    •
    <a href="https://stevieoh.github.io/my-portfolio/">Stephanie Obeytek </a>
    •
    <br>
    <span class="copyright">©</span> 2018 (GA Chicago)
   
  </small>
  

</div>

    
</body>

<script src="scripts/googlebooks.js"></script>
</html>



