<!DOCTYPE html>
<html>
<head>
  <title>My Little Library</title>
  <!-- Linking to CSS -->
  <link rel="stylesheet" type="text/css" href="/style.css">
  <!-- Linking in Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous" type="text/css">
  <!-- Google Fonts -->
  <link type="text/css" href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
</head>
<body>
  <header>
    <div class="row">
      <div id="title" class="col-sm-8">
      <h1>My Little Library</h1>
  
</header>

